<html>
<head>
<title>
    Products 
</title>
<link rel="stylesheet" href="css/Product.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<header>
        
    <div class="header">

        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a href="forum.html"><img src="ASSETS/image/logo.png" height="75" width="150" alt="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a href="index.html">Home</a> </li>
                                    <li> <a href="about.html">About</a> </li>
                                    <li><a href="Product.html">Products</a></li>
                                    <li><a href="special.html">Specials</a></li>
                                    <li><a href="forum.html">Forum</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li class="last">
                                        <a href="#"><img src="ASSETS/image/search_icon.png" alt="icon" /></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 offset-md-6">
                    <div class="location_icon_bottum">
                        <ul>
                            <li><img src="ASSETS/icon/call.png" />(+216) 71 961 985</li>
                            <li><img src="ASSETS/icon/email.png" />datalords@gmail.com</li>
                            <li><img src="ASSETS/icon/loc.png" />Tunis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</header>

<body>
    
    
    <select class="form-control">
        <option value="">Default Sorting</option>
        <option value="popularity">Sorting by price(low to high)</option>
        <option value="popularity">Sorting by price(High to low)</option>
        <option value="latest">Sorting by latest</option>
    </select>
    <div class="Container">
        <div class="row">
            <div class="column">
                <p><img src="ASSETS/image/1.jpg">
                    <p1>Boitier COOLERMASTER</p1>
                    <p2>120 DT</p2>
                    <button type="button">Add to cart</button>  
                </p>
            </div>
            <div class="column">
                <p>
                    <img src="ASSETS/image/2.jpg">
                    <p1>RAM</p1><br>
                    <p2>70 DT</p2>
                    <button type="button">Add to cart</button>
                </p>
            </div>
            <div class="column">
                <p><img src="ASSETS/image/3.jpg"></p> 
                <p1>REDDRAGON SIREN </p1> 
                <p2>120 DT</p2>
                <button type="button">Add to cart</button>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <p><img src="ASSETS/image/4.jpg"></p>
                <p1>Clavier Razer </p1>
                <p2>160 DT</p2>
                <button type="button">Add to cart</button>
            </div>
            <div class="column">
                <p><img src="ASSETS/image/5.jpg"></p>
                <p1>casque </p1>
                <p2>120 DT</p2>
                <button type="button">Add to cart</button>
            </div>
            <div class="column">
                <p><img src="ASSETS/image/6.jpg"></p>
                <p1>casque </p1>
                <p2>120 DT</p2>
                <button type="button">Add to cart</button>
            </div>
        </div>
    </div>
    
    

</body>
</html>